<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="/assets/bootstrap/5.2.2/favicon.ico">
    <link rel="stylesheet" href="/assets/bootstrap/5.2.2/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/5.2.2/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/5.2.2/css/style.css">
</th:block>