<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Transfer</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="/Module4_Banking/assets/bootstrap/5.2.2/favicon.ico">
    <link rel="stylesheet" href="/Module4_Banking/assets/bootstrap/5.2.2/css/bootstrap.css">
    <link rel="stylesheet" href="/Module4_Banking/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Module4_Banking/assets/bootstrap/5.2.2/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/Module4_Banking/assets/bootstrap/5.2.2/css/style.css">
</head>
<body>
<div class="container">
    <div class="table-title mb-4">
        <div class="row">
            <div class="col-sm-6">
                <h1>Transfer money Information</h1>
            </div>
            <div class="col-sm-6">
                <a href="/Module4_Banking/WEB-INF/views/customer/list.html" class="btn btn-outline-light"><i class="fa fa-list" aria-hidden="true"></i> <span>Customer list</span></a>
            </div>
        </div>
    </div>
    <form id="frmTransfer" method="post">
        <fieldset class="row g-3">
            <div class="form-group row">
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Sender ID</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" readonly id="senderId" name="senderId" value="">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Sender Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" readonly id="senderName" name="senderName" value="">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Email</label>
                    <div class="col-sm-12">
                        <input type="email" class="form-control" readonly id="email" name="email" value="">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Sender balance</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control num-space" readonly id="balance" name="balance" value="">
                    </div>
                </div>
            </div>
            <div class="form-group row mb-4">
                <div class="mb-3 col-md-3">
                    <label for="recipient_id" class="col-sm-12 col-form-label">Recipient Name</label>
                    <div class="col-sm-12">
                        <select id="recipient_id" class="form-select" name="recipientId">
                            <option value="1165">(1165) Akeem Walter 111</option>
                            <option value="1175">(1175) Amaya Baker</option>
                            <option value="1185">(1185) Christian Butler</option>
                            <option value="1195">(1195) Edan Roach</option>
                            <option value="1215">(1215) Garth Walker</option>
                            <option value="1235">(1235) Jenna Patterson</option>
                            <option value="1275">(1275) Ashton Meyers</option>
                            <option value="1305">(1305) Thor Ball</option>
                            <option value="1315">(1315) Rama Wheeler</option>
                            <option value="1355">(1355) Dante Strickland</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Transfer Amount ($)</label>
                    <div class="col-sm-12">
                        <input type="text" id="transferAmount" class="form-control num-space" name="transferAmount" value="">
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Fees (%)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control num-space" value="" readonly>
                    </div>
                </div>
                <div class="mb-3 col-md-3">
                    <label class="col-sm-12 col-form-label">Total amount of transaction ($)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control num-space" readonly id="transactionAmount" name="transactionAmount" value="">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="mb-3 col-md-12">
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            Transfer
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="footer">
    <div id="message-alert">


        <div class="alert-danger hide">
            <h5>Please correct errors below FE:</h5>
        </div>

    </div>
</div>

<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/sweetalert2.min.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/jquery.validate-1.19.3.min.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/popper-v1.16.0.min.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/jquery.number.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/custom-validation.js"></script>
<script type="text/javascript" src="/Module4_Banking/assets/bootstrap/5.2.2/js/app.js"></script>
</body>
</html>